<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/upload.css">
</head>

<body>
    <div class="wrapper">
    <h1>404: File not found</h1>
    Go to the <a href="/" style="text-decoration: none; font-weight: bold; color: #ddd;"><i> home page </i></a>to create an upload.
    </div>
    <div class="shape-blob"></div>
    <div class="shape-blob one"></div>
    <div class="shape-blob two"></div>
</body>

</html>